<h2>Edit <%= @recommendation.title %></h2>

<div class="main left">
  <%= error_messages_for :recommendation %>
  
  <% labeled_form_for @recommendation, :url => admin_recommendation_path(@recommendation), :html => { :method => :put} do |f| %>
    
    <%= render :partial => 'fields', :locals => {:f => f} %>
      
    <%= f.submit "Save changes" %>
  <% end %>
</div>

<div class="side right">
</div>