.block
  %h2 MORE
  %ul.links
    %li= link_to image_tag("http://workingwithrails.com/images/tools/compact-small.jpg"), "http://workingwithrails.com/recommendation/new/person/7926-keavy-mcminn", :class => 'img'

    %li= link_to image_tag("src.jpg"), "http://scottishrubyconference.com", :class => 'img'

    %li= link_to image_tag("nordic.png"), "http://nordicruby.org/", :class => 'img'