#intro.clearfix
  #text.left
    %p I'm Keavy McMinn, a web developer based in Glasgow, UK.

    %p I specialise in building Ruby on Rails applications.

    %p I am an advocate for Test Driven Development and using Agile methods for the development process.

    %p 
      I'm open to new projects. Feel free to
      = mail_to "hello@minimetre.com", "get in touch", :encode => :hex
  
  - if @random
    #quote.right
      %blockquote= @random.message
      %cite= @random.from