#intro.clearfix
  #text.left
    %p intro text
    
  #quote.right
    %blockquote Keavy showed an impressive output while consistently delivering high quality code.
    %cite Richard Viard, VP of Product & Technology at CauseLoyalty, LLC