#intro.clearfix
  #text.left
    %p Minimetre is closed to new projects.

    %p This is a selection of past work.

    %p
      Feel free to
      = mail_to "hello@minimetre.com", "get in touch", :encode => :hex

  - if @random
    #quote.right
      %blockquote= raw @random.message
      %cite= @random.from